<!DOCTYPE html>
<html>
    <head>
        <title>Underground Smash Overlay Tool</title>
        <link rel="stylesheet" type="text/css" href="home.css">
    </head>
<body>
    <div class="title">
        <h1>Underground Smash Overlay Tool</h1>
    </div>
    <form method="POST">
        {% for file, content in files.items() %}
            <div class="form-row">
                <h2>{{ file }}</h2>
                {% if 'Fighter' in file %}
                    <select name="{{ file }}" class="fighter-select">
                        {% for fighter in fighters %}
                            <option value="{{ fighter }}" {% if fighter == content %}selected{% endif %}>{{ fighter }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    <textarea name="{{ file }}">{{ content }}</textarea>
                {% endif %}
            </div>
        {% endfor %}
        <input type="submit" value="Save Changes">
    </form>
</body>
</html>