<!DOCTYPE html>
<html>
    <head>
        <title>Underground Smash Overlay Tool</title>
        <style>
            .form-row {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                margin-bottom: 1em;
                gap: 1em;
            }
            .form-row textarea {
                flex-grow: .3;
            }
            .form-row select {
                flex-grow: .3;
            }
        </style>
    </head>
<body>
    <form method="POST">
        {% for file, content in files.items() %}
            <div class="form-row">
                <h2>{{ file }}</h2>
                {% if 'Fighter' in file %}
                    <select name="{{ file }}" class="fighter-select">
                        {% for fighter in fighters %}
                            <option value="{{ fighter }}" {% if fighter == content %}selected{% endif %}>{{ fighter }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    <textarea name="{{ file }}">{{ content }}</textarea>
                {% endif %}
            </div>
        {% endfor %}
        <input type="submit" value="Save Changes">
    </form>
</body>
</html>